<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SignDataAssistant</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="entry">
      <fieldset>
        <form action="/" method="post">
          <h2> Enter road-sign observation details to be posted </h2>
          <input name="lat" type="text" class="ghost-input" placeholder="Enter Latitude" required>
          <input name="lon" type="text" class="ghost-input" placeholder="Enter Longitude" required>
          <% if(signTypes !== null){ %>
            <% for (var i = 0; i < signTypes.length; i++) { %>
              <input name="signtype" type="radio" value= <%= (i+1) %> required> <%= signTypes[i] %>
              <br /> 
            <% } %>
          <% } %>
          <br /> 
          <input type="submit" class="ghost-button" value="Send Sign ">
        </form>
        <% if(addSignMessage !== null){ %>
          <p> <%= addSignMessage %></p>
        <% } %>

        <% if(addSignError !== null){ %>
          <p> <%= addSignError %></p>
        <% } %>
      </fieldset>
    </div>

    <div class="entry">
      <fieldset>
        <form action="/aresigns" method="get">
          <h2> Enter region details to search for road-signs </h2>
          <input name="lat" type="text" class="ghost-input" placeholder="Enter Latitude" required>
          <input name="lon" type="text" class="ghost-input" placeholder="Enter Longitude" required>
          <input name="rad" type="number" class="ghost-input" placeholder="Enter Radius" required>
          <input type="submit" class="ghost-button" value="Get Signs">
        </form>
        <% if(resultsigns !== null) { %>
          <% if(resultsigns.length > 0) { %>
          <p> <%= resultsigns.length %> sign(s) found in this area </p>
            <table style="width:100%">
              <tr>
                <th align="left"> Latitude </th>
                <th align="left"> Longitude </th>
                <th align="left"> Sign Type </th>
              </tr>
              <% for (var i = 0; i < resultsigns.length; i++) { %>
              <tr>
                <td><%= resultsigns[i].latitude %></td>
                <td><%= resultsigns[i].longitude %></td>
                <td><%= resultsigns[i].typeName %></td>
              </tr>
              <% } %>
            </table>
          <% } else { %>
            <p> No Signs Found in this area </p>
          <% } %>
        <% } %>
        
        <% if(error !== null){ %>
          <p><%= error %></p>
        <% } %>
      </fieldset>
    </div>
  </body>
</html>
